@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --eco : #34b410;
    --bee : #fccb06;
    --sun : #f19706;
    --fire : #d1182d;
    --calm : #26ade4;
    --cool : #3f799b;
    --over : #44433d;
    --rainy : #CCCCCC;
    --yogurt : #efafb5;
  }

  body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
  }
  
  body {
      height: 100vh;
      width: 100vw;
  }
  
  img, picture {
    max-width: 100%;
    display: block;
  }
  
  input,
  button,
  textarea,
  select, 
  a {
    font: inherit;
  }
  
  a {
      text-decoration: none;
  }
  

  
  html {
      font-size: 75%;
  }
  @media only screen and (min-width: 540px) {
  html {
      font-size: 81.25%;
  }
  }
  @media only screen and (min-width: 768px) {
  html {
      font-size: 87.5%;
  }
  }
  @media only screen and (min-width: 992px) {
  html {
      font-size: 93.25%;
  }
  }
  @media only screen and (min-width: 1280px) {
  html {
      font-size: 100%;
  }
  }
  
.display-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

}


/* Base Avatar Class */
.avatar {
    border-radius: 50%;
}

/* Extra Small Size Avatar  Class */
.avatar-xs {
    height: 2rem;
    width: 2rem;
}

/* Small Size Avatar Class */
.avatar-sm {
    height: 3rem;
    width: 3rem;
}

/* Normal Size Avatar Class */
.avatar-nm {
    height: 4rem;
    width: 4rem;
}

/* Medium Size Avatar Class */
.avatar-md {
    height: 5rem;
    width: 5rem;
}

/* Large Size Avatar Class */
.avatar-lg {
    height: 6rem;
    width: 6rem;
}

/* Extra Size Large Avatar Class */
.avatar-xl {
    height: 8rem;
    width: 8rem;
}


.badge-wrapper {
    position: relative;
}

.badge {
    position: absolute;
}

.badge-xs {
    height: 0.5rem;
    width: 0.5rem;
}
  
.badge-sm {
    height: 0.75rem;
    width: 0.75rem;
}
  
.badge-nm {
    height: 1rem;
    width: 1rem;
}
  
.badge-md {
    height: 1.25rem;
    width: 1.25rem;
}
  
.badge-lg {
    height: 1.5rem;
    width: 1.5rem;
}

.badge-xl {
    height: 2rem;
    width: 2rem;
}

/* Blip Badges */
.blip {
    border-radius: 50%;
    bottom: 5%;
    right: 5%;
}

/* Blip Badges COlor Classes */
.blip-eco {    background-color: var(--eco);    }
.blip-bee {    background-color: var(--bee);    }
.blip-sun {    background-color: var(--sun);    }
.blip-fire {    background-color: var(--fire);    }
.blip-calm {    background-color: var(--calm);    }
.blip-cool {    background-color: var(--cool);    }
.blip-over {    background-color: var(--over);    }
.blip-rainy {    background-color: var(--rainy);    }
.blip-yogurt {    background-color: var(--yogurt);    }

/* Blip Badges */
.num-blip {
    border-radius: 50%;
    top: 5%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.num-blip-o {
    border-radius: 50%;
    top: -5%;
    right: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.num-blip-xs {
   font-size: 0.375rem;
   font-weight: 700;
}

.num-blip-sm {
    font-size: 0.5575rem;
    font-weight: 700;
}
 
.num-blip-nm {
    font-size: 0.75rem;
    font-weight: 700;
}
  
.num-blip-md {
    font-size: 0.9375rem;
    font-weight: 700;
}
 
.num-blip-lg {
    font-size: 1.125rem;
    font-weight: 700;
}

.num-blip-xl {
    font-size: 1.5rem;
    font-weight: 700;
 }

/* Blip Badges COlor Classes */
.num-blip-eco {    background-color: var(--eco);   color: #EEE }
.num-blip-bee {    background-color: var(--bee);    }
.num-blip-sun {    background-color: var(--sun);    }
.num-blip-fire {    background-color: var(--fire);  color: #EEE  }
.num-blip-calm {    background-color: var(--calm);    }
.num-blip-cool {    background-color: var(--cool);  color: #EEE  }
.num-blip-over {    background-color: var(--over);  color: #EEE;  }
.num-blip-rainy {    background-color: var(--rainy);    }
.num-blip-yogurt {    background-color: var(--yogurt);    }




.ring {
    background-color: transparent;
    border-radius: 50%;
    bottom: 5%;
    right: 5%;
}

.ring-xl {
    height: 1rem;
    width: 1rem;
    border-style: solid;
    border-width: 0.5rem;
}

.ring-lg {
    height: 0.75rem;
    width: 0.75rem;
    border-style: solid;
    border-width: 0.375rem;
}

.ring-md {
    height: 0.5rem;
    width: 0.5rem;
    border-style: solid;
    border-width: 0.375rem;
}

.ring-nm {
    height: 0.4325rem;
    width: 0.4325rem;
    border-style: solid;
    border-width: 0.27625rem;
}

/* ring effects */
.ring-ef-gr {
    border-style: groove;
}

.ring-ef-gr:hover {
    border-style: ridge;
}

.ring-ef-io {
    border-style: outset;
}

.ring-ef-io:hover {
    border-style: inset;
}

.ring-eco {    border-color: var(--eco);    }
.ring-bee {    border-color: var(--bee);    }
.ring-sun {    border-color: var(--sun);    }
.ring-fire {    border-color: var(--fire);    }
.ring-calm {    border-color: var(--calm);    }
.ring-cool {    border-color: var(--cool);    }
.ring-over {    border-color: var(--over);    }
.ring-rainy {    border-color: var(--rainy);    }
.ring-yogurt {    border-color: var(--yogurt);    }



.moon {
    border-radius: 50%;
    transform: rotate(22.5deg);
    bottom: 5%;
    right: 5%;
}

.moon-nm {    box-shadow: -0.25rem 0.125rem 0 0 var(--sun);    }

.moon-lg {    box-shadow: -0.375rem 0.1875rem 0 0 var(--sun);    }

.moon-md {    box-shadow: -0.3125rem 0.15625rem 0 0 var(--sun);    }

.moon-xl {    box-shadow: -0.5rem 0.25rem 0 0 var(--sun);    }



.mobile {
    bottom: 5%;
    right: 5%;
    background-color: transparent;
    height: 2rem;
    width: 1.5rem;
    border-radius: 0.125rem;
    box-shadow: inset 0px -0.0625rem 0.0625rem 0.3125rem var(--eco);
}

